<launch>
  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>
  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- Args for starting camera position -->
  <arg name="cam_x_offset"  default="+0.1"/>
  <arg name="cam_y_offset"  default="+0.1"/>
  <arg name="cam_z_offset"  default="+0.1"/>
  <arg name="cam_rx"        default="+0.0"/>
  <arg name="cam_ry"        default="-1.570796327"/>
  <arg name="cam_rz"        default="-1.570796327"/>
  <arg name="cam_parent"    default="tool0"/>

  <!-- Load universal robot description format (URDF) -->
  <param if="$(arg load_robot_description)" name="$(arg robot_description)" command="xacro '$(find manipulators)/urdf/ur10e_eecam.xacro'">
    <arg name="cam_x_offset"  value="+0.1"/>
    <arg name="cam_y_offset"  value="+0.1"/>
    <arg name="cam_z_offset"  value="+0.1"/>
    <arg name="cam_rx"        value="+0.0"/>
    <arg name="cam_ry"        value="-1.570796327"/>
    <arg name="cam_rz"        value="-1.570796327"/>
    <arg name="cam_parent"    value="tool0"/>
  </param>

  <!-- The semantic description that corresponds to the URDF -->
  <param name="$(arg robot_description)_semantic" textfile="$(find ur10e_moveit_config)/config/ur10e.srdf" />
  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find ur10e_moveit_config)/config/joint_limits.yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find ur10e_moveit_config)/config/kinematics.yaml"/>
  </group>

</launch>
