<launch>
  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>
  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- Args for starting camera position -->
  <arg name="cam_x_offset"  default="+0.1"/>
  <arg name="cam_y_offset"  default="+0.1"/>
  <arg name="cam_z_offset"  default="+0.1"/>
  <arg name="cam_rx"        default="+0.0"/>
  <arg name="cam_ry"        default="-1.570796327"/>
  <arg name="cam_rz"        default="-1.570796327"/>
  <arg name="cam_parent"    default="tool0"/>

  <!-- Args for starting end effector position -->
  <arg name="ee_z_offset"   default="+0.0"/>
  <arg name="ee_rz"         default="+0.0"/>
  <arg name="ee_parent"     default="tool0"/>

  <!-- Load universal robot description format (URDF) -->
  <param if="$(arg load_robot_description)" name="$(arg robot_description)"
         command="xacro '$(find manipulators)/urdf/ur10e_eecam.xacro'
                  cam_x_offset:=$(arg cam_x_offset)
                  cam_y_offset:=$(arg cam_y_offset)
                  cam_z_offset:=$(arg cam_z_offset)
                        cam_rx:=$(arg cam_rx)
                        cam_ry:=$(arg cam_ry)
                        cam_rz:=$(arg cam_rz)
                    cam_parent:=$(arg cam_parent)
                   ee_z_offset:=$(arg ee_z_offset)
                         ee_rz:=$(arg ee_rz)
                     ee_parent:=$(arg ee_parent)"/>

  <!-- The semantic description that corresponds to the URDF -->
  <param name="$(arg robot_description)_semantic" textfile="$(find manipulators)/urdf/ur10e_eecam.srdf" />
  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find ur10e_moveit_config)/config/joint_limits.yaml"/>
  </group>

  <param name="debug" value="$(find manipulators)/config/ur10e_eecam.srdf"/>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find ur10e_moveit_config)/config/kinematics.yaml"/>
  </group>

</launch>
