<launch>
  <!-- Decide if you want to launch rviz -->
  <arg name="rviz" default="true" />

  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />

  <arg name="sim" default="true" />

  <!-- If true you launch the trajectory converter node.
  This node sends a true value on the topic /trajectory_executed when the trajectory is completed, also in simulation.-->
  <arg name="control" default ="false" />
  
  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find ur10e_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <!-- If needed, broadcast static tf for robot root -->
  

  <!-- We do not have a robot connected, so publish fake joint states -->
  <node if="$(arg sim)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/> 
    <rosparam param="/source_list">[/move_group/fake_controller_joint_states]</rosparam>
  </node>
  
  <!-- Given the published joint states, publish tf for the robot links -->
  <node if="$(arg sim)" name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

  <!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
  <include file="$(find ur10e_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>  
    <arg name="fake_execution" value="true"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- Run Rviz and load the default config to see the state of the move_group node THE ARG IS CALLED config, NOT rviz_config-->
  <group if="$(arg rviz)">
  <include file="$(find ur10e_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="$(find ur10e_moveit_config)/launch/moveit.rviz"/> 
    <arg name="debug" value="$(arg debug)"/>
  </include>
  </group>
  
  <!-- Planner setup -->
  <arg name="planning_plugin" value="ompl_interface/OMPLPlanner" />
  <!-- Adapters: uniform sample filter and optimal parametrization -->
  <arg name="planning_adapters" value="industrial_trajectory_filters/UniformSampleFilter default_planner_request_adapters/AddTimeOptimalParameterization default_planner_request_adapters/FixWorkspaceBounds default_planner_request_adapters/FixStartStateBounds default_planner_request_adapters/FixStartStateCollision default_planner_request_adapters/FixStartStatePathConstraints" />

  <node name="manipulator_planner" pkg="manipulators" type="manipulator_planner" output="screen">
    <param name="planning_plugin" value="$(arg planning_plugin)" />
    <param name="request_adapters" value="$(arg planning_adapters)" />
    <param name="sample_duration" value="0.01"/>
    <param name="sim" value="$(arg sim)"/>
    <!-- This file contains the parameters configuration for each possible 6-dof planner for the ur10e robot-->
    <rosparam command="load" file="$(find ur10e_moveit_config)/config/ompl_planning.yaml"/>
    <!-- THis file contains the names of the manipulator, the joints, the base and the end-effector -->
    <rosparam command="load" file="$(find manipulators)/config/ur10e.yaml" />
  </node>  
  <!-- For real UR10 -->
  <!-- <node if="$(arg control)" name="ur10_trajectory_converter" pkg="ur10_trajectory_converter" type="ur10_trajectory_converter" />  -->
  
</launch>