<launch>
   
  <!-- Planner -->
  <arg name="robot_name"          default="ur20" />
  <arg name="robotpkg_name"       default="ur20" />
  <arg name="custom_pkg"          default="false"/>
  <arg name="default_desc"        default="false" />
  <arg name="ur20_pkg"            default="true" />
  <arg name="custom_plan_file"    default="true" />
  <arg name="planning_group_file" default="$(find manipulators)/config/$(arg robot_name).yaml" />
  <!-- Simulation -->
  <arg name="rviz"          default="true" />
  <arg name="def_config"    default="false" />
  <arg name="debug"         default="false" />
  <!-- Whether publish joint state from moveit -->
  <arg name="pub_js_state"  default="true"/>
  <arg name="rate"          default="500"/>
  <!-- Choose the sampling duration of the planner -->
  <arg name="sample_duration" default="0.002"/>
  <!-- Starting camera position -->
  <arg name="camera"        default="false"/>
  <arg name="cam_parent"    default="tool0"/>
  <arg name="cam_x_offset"  default="+0.00"/>
  <arg name="cam_y_offset"  default="+0.00"/>
  <arg name="cam_z_offset"  default="+0.00"/>
  <arg name="cam_rx"        default="+0.00"/>
  <arg name="cam_ry"        default="-1.570796327"/>
  <arg name="cam_rz"        default="-1.57079632"/>
  <!-- Starting end effector position -->
  <arg name="ee"            default="false"/>
  <arg name="ee_parent"     default="tool0"/>
  <arg name="ee_z_offset"   default="+0.0"/>
  <arg name="ee_rz"         default="+0.0"/>
  <arg name="tcp_offset"    default="+0.0"/>
  <!-- If true, launch the trajectory converter node -->
  <arg name="real_control"  default ="false" />
  <arg name="drivers_config_file" default="$(find manipulators)/config/drivers/$(arg robot_name).yaml"/>
  <!-- Custom models -->
  <arg name="xacro_file"    default=""/>
  <arg name="srdf_file"     default=""/>

  <!-- Launch ur10 planner -->
  <include file="$(find manipulators)/launch/planner.launch">
    <arg name="robot_name"          value="$(arg robot_name)" />
    <arg name="robotpkg_name"       value="$(arg robotpkg_name)" />
    <arg name="custom_plan_file"    value="$(arg custom_plan_file)" />
    <arg name="planning_group_file" value="$(arg planning_group_file)" />
    <arg name="default_desc"        value="$(arg default_desc)" />
    <arg name="ur20_pkg"            value="$(arg ur20_pkg)" />
    <arg name="custom_pkg"          value="$(arg custom_pkg)" />
    <arg name="rviz"                value="$(arg rviz)" />
    <arg name="def_config"          value="$(arg def_config)" />
    <arg name="debug"               value="$(arg debug)" />
    <arg name="pub_js_state"        value="$(arg pub_js_state)" />
    <arg name="rate"                value="$(arg rate)" />
    <arg name="sample_duration"     value="$(arg sample_duration)" />
    <arg name="real_control"        value="$(arg real_control)" />
    <arg name="drivers_config_file" value="$(arg drivers_config_file)" />
    <arg name="camera"              value="$(arg camera)"  />
    <arg name="cam_x_offset"        value="$(arg cam_x_offset)"/>
    <arg name="cam_y_offset"        value="$(arg cam_y_offset)"/>
    <arg name="cam_z_offset"        value="$(arg cam_z_offset)"/>
    <arg name="cam_rx"              value="$(arg cam_rx)"/>
    <arg name="cam_ry"              value="$(arg cam_ry)"/>
    <arg name="cam_rz"              value="$(arg cam_rz)"/>
    <arg name="cam_parent"          value="$(arg cam_parent)"/>
    <arg name="ee"                  value="$(arg ee)"  />
    <arg name="ee_z_offset"         value="$(arg ee_z_offset)"/>
    <arg name="ee_rz"               value="$(arg ee_rz)"/>
    <arg name="ee_parent"           value="$(arg ee_parent)"/>
    <arg name="tcp_offset"          value="$(arg tcp_offset)"/>
    <arg name="xacro_file"          value="$(arg xacro_file)"/>
    <arg name="srdf_file"           value="$(arg srdf_file)"/>
  </include>

</launch>