<?xml version="1.0"?>
<robot name="$(arg name)" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Robot URDF file-->
    <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>

    <!-- Robot Arguments -->
    <xacro:arg name="name" default="ur"/>
    <xacro:arg name="ur_type" default="ur5e"/>
    <xacro:arg name="tf_prefix" default=""/>
    <xacro:arg name="joint_limits_parameters_file" default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"/>
    <xacro:arg name="kinematics_parameters_file" default="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"/>

    <!-- Additional objects Arguments -->
    <xacro:arg name="camera"                        default="true"/>
    <xacro:arg name="gripper"                       default="true"/>
    <xacro:arg name="gfloor"                        default="true"/>
    <xacro:arg name="gripper_collision_box"         default="false"/>

    <xacro:arg name="tcp_offset"                    default="0.148"/>
    <xacro:arg name="tcp_z_rot"                     default="0.0"/>

    <xacro:property name="camera"                   value="$(arg camera)"/>
    <xacro:property name="gripper"                  value="$(arg gripper)"/>
    <xacro:property name="gfloor"                   value="$(arg gfloor)"/>
    <xacro:property name="gripper_collision_box"    value="$(arg gripper_collision_box)"/>
    <xacro:property name="tcp_offset"               value="$(arg tcp_offset)"/>
    <xacro:property name="tcp_z_rot"                value="$(arg tcp_z_rot)"/>

    <!-- Create the manipulator -->
    <link name="world_ur"/>
    <xacro:ur_robot
        parent="world_ur"
        name="$(arg name)"
        tf_prefix="$(arg tf_prefix)"
        joint_limits_parameters_file="$(arg joint_limits_parameters_file)"
        kinematics_parameters_file="$(arg kinematics_parameters_file)"
        physical_parameters_file="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"
        visual_parameters_file="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"
    >
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:ur_robot>

    <!-- Gripper inclusion -->
    <xacro:if value="${gripper}">
        <xacro:include filename="$(find manipulators)/models/urdf/ur_robotiq_85_gripper_macro.xacro"/>
        <xacro:ur_robotiq_85_gripper
            tf_prefix="$(arg tf_prefix)"
        />
    </xacro:if>

    <!-- Camera inclusion -->
    <xacro:if value="${camera}">
        <xacro:include filename="$(find realsense2_description)/urdf/_d435i.urdf.xacro"/>
        <link name="d435i_base_link" />
        <joint name="tool0-d435i_base_link" type="fixed">
            <parent link="tool0"/>
            <child link="d435i_base_link"/>
            <origin xyz="0.08 0 -0.04" rpy="0 -1.57 3.14"/>
        </joint>

        <xacro:sensor_d435i parent="d435i_base_link" name="ee_cam">
            <origin xyz="0 0 0" rpy="0 0 0" />
        </xacro:sensor_d435i>
    </xacro:if>

    <!-- Floor inclusion -->
    <xacro:if value="${gfloor}">
        <link name="floor">
            <visual> <!-- floor -->
                <origin xyz="0.0 0.0 -0.40" rpy="0 0 0"/>
                <geometry>
                    <box size="10 10 0.01"/>
                </geometry>
                <material name="">
                    <color rgba="0.8 0.1 0.1 0.4"/>
                </material>
            </visual>
            <collision>
                <origin xyz="0.0 0.0 -0.40" rpy="0 0 0"/>
                <geometry>
                    <box size="10 10 0.01"/>
                </geometry>
            </collision>
            <visual>
                <geometry>
                    <box size="1.0 0.7 0.5"/> <!-- box sotto -->
                </geometry>
                <origin xyz="-0.25 0.0 -0.25" rpy="0 0 0"/>
                <material name="">
                        <color rgba="1.0 1.0 1.0 1.0"/>
                </material>
            </visual>
            <visual>
                <geometry>
                    <box size="0.6 0.7 0.4"/> <!-- box sopra -->
                </geometry>
                <origin xyz="-0.4 0.0 0.2" rpy="0 0 0"/>
                <material name="">
                    <color rgba="1.0 1.0 1.0 1.0"/>
                </material>
            </visual>
            <collision>
                <geometry>
                    <box size="1.0 0.7 0.5"/> <!-- box sotto -->
                </geometry>
                <origin xyz="-0.25 0.0 -0.25" rpy="0 0 0"/>
            </collision>
            <collision>
                <geometry>
                    <box size="0.6 0.7 0.4"/> <!-- box sopra -->
                </geometry>
                <origin xyz="-0.4 0.0 0.2" rpy="0 0 0"/>
            </collision>
        </link>

        <joint name="world_floor" type="fixed">
            <parent link="base_link"/>
            <child link="floor"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </joint>
    </xacro:if>

    <!-- Gripper collision box -->
    <xacro:if value="${gripper_collision_box}">
        <link name="ee_collision_box">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="0.130 0.170 $(arg tcp_offset)"/>
                </geometry>
                <material name="">
                    <color rgba="0.8 0.1 0.1 0.4"/>
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="0.130 0.170 $(arg tcp_offset)"/>
                </geometry>
            </collision>
        </link>

        <joint name="tool0-ee_collision_box" type="fixed">
            <parent link="tool0"/>
            <child link="ee_collision_box"/>
            <origin xyz="0 0.0 0.080 " rpy="0 0 0"/>
        </joint>

        <link name="tcp_gripper" />

        <joint name="tool0-tcp_gripper" type="fixed">
            <parent link="tool0"/>
            <child link="tcp_gripper"/>
            <origin xyz="0 0 $(arg tcp_offset)" rpy="0 0 $(arg tcp_z_rot)"/>
        </joint>
    </xacro:if>
</robot>
