<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>

    <xacro:macro name="ur_floor" params="
        robot_name
        tf_prefix
        ur_type
        joint_limits_parameters_file
        kinematics_parameters_file
        ">

        <!-- Create a non visual link to mark the tool center point -->

        <link name="tcp_link">
            <origin xyz="0 0 0" rpy="0 0 0" />
        </link>

        <joint name="tool0_to_tcp_joint" type="fixed">
            <origin xyz="0 0 0.165" rpy="0 0 0" />
            <parent link="${tf_prefix}tool0" />
            <child link="tcp_link" />
        </joint>

        <!--This will create the specific robot-->
        <xacro:ur_robot
            parent="world"
            name="${robot_name}"
            tf_prefix="${tf_prefix}"
            joint_limits_parameters_file="${joint_limits_parameters_file}"
            kinematics_parameters_file="${kinematics_parameters_file}"
            physical_parameters_file="$(find ur_description)/config/${ur_type}/physical_parameters.yaml"
            visual_parameters_file="$(find ur_description)/config/${ur_type}/visual_parameters.yaml"
        >
            <origin xyz="0 0 0" rpy="0 0 0" />
        </xacro:ur_robot>

        <link name="floor">
            <visual>
                <geometry>
                    <box size="10 10 0.01"/>
                </geometry>
                <material name="">
                    <color rgba="0.8 0.1 0.1 0.4"/>
                </material>
            </visual>
            <collision>
                <geometry>
                    <box size="10 10 0.01"/>
                </geometry>
            </collision>
        </link>

        <joint name="world_floor" type="fixed">
            <parent link="world"/>
            <child link="floor"/>
            <origin xyz="0 0 -0.005" rpy="0 0 0"/>
        </joint>

        <link name="ee_collision_box">
            <visual>
                <geometry>
                    <box size="0.130 0.170 0.160"/>
                </geometry>
                <material name="">
                    <color rgba="0.8 0.1 0.1 0.4"/>
                </material>
            </visual>
            <collision>
                <geometry>
                    <box size="0.130 0.170 0.160"/>
                </geometry>
            </collision>
        </link>

        <joint name="tool0-ee_collision_box" type="fixed">
            <parent link="tool0"/>
            <child link="ee_collision_box"/>
            <origin xyz="0 -0.04 0.080" rpy="0 0 0"/>
        </joint>

        <link name="tcp_gripper" />

        <joint name="tool0-tcp_gripper" type="fixed">
            <parent link="tool0"/>
            <child link="tcp_gripper"/>
            <origin xyz="0 0 0.145" rpy="0 0 0"/>
        </joint>
  </xacro:macro>

</robot>