<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
    <xacro:include filename="$(find robotiq_85_description)/urdf/robotiq_85_gripper_macro.urdf.xacro"/>

    <xacro:macro name="ur_robotiq_85_gripper" params="
        robot_name
        tf_prefix
        ur_type
        joint_limits_parameters_file
        kinematics_parameters_file
        ">

        <!--This will create the gripper and attach it to the flange link -->

        <xacro:robotiq_85_gripper
            prefix="${tf_prefix}"
            parent="${tf_prefix}flange"
        >
            <origin xyz="0 0 0" rpy="0 0 0" /> 
        </xacro:robotiq_85_gripper>

        <!-- Create a non visual link to mark the tool center point -->

        <link name="tcp_link">
            <origin xyz="0 0 0" rpy="0 0 0" />
        </link>

        <joint name="tool0_to_tcp_joint" type="fixed">
            <origin xyz="0 0 0.165" rpy="0 0 0" />
            <parent link="${tf_prefix}tool0" />
            <child link="tcp_link" />
        </joint>

        <!--This will create the specific robot-->
        <xacro:ur_robot
            parent="world"
            name="${robot_name}"
            tf_prefix="${tf_prefix}"
            joint_limits_parameters_file="${joint_limits_parameters_file}"
            kinematics_parameters_file="${kinematics_parameters_file}"
            physical_parameters_file="$(find ur_description)/config/${ur_type}/physical_parameters.yaml"
            visual_parameters_file="$(find ur_description)/config/${ur_type}/visual_parameters.yaml"
        >
            <origin xyz="0 0 0" rpy="0 0 0" />
        </xacro:ur_robot>
  </xacro:macro>

</robot>