<launch>
    <!-- Launch the coppelia_server node -->
    <node name="coppelia_server" pkg="manipulators" type="coppelia_server.py" output="screen">
        <param name="package_name"  type="string" value="manipulators"/>
        <param name="scene_name"    type="string" value="UR10.ttt"/>
    </node>
</launch>
