<launch>

  <!-- Select robot pkg name -->
    <arg name="robotpkg_name" default="" />

    <!-- List of all available manipulators -->
      <arg name="ur20_pkg"    default="false"/>
      <arg name="ur16e_pkg"   default="false"/>
      <arg name="ur10e_pkg"   default="false"/>
      <arg name="ur10_pkg"    default="false"/>
      <arg name="ur5e_pkg"    default="false"/>
      <arg name="ur5_pkg"     default="false"/>
      <arg name="ur3e_pkg"    default="false"/>
      <arg name="ur3_pkg"     default="false"/>
      <arg name="custom_pkg"  default="false"/>
    <!-- End of the list -->

    <!-- Get moveit config package of the corresponding robot -->
      <arg name="moveit_pkg" value="$(find ur20_moveit_config)"
               if="$(arg ur20_pkg)"/>
      <arg name="moveit_pkg" value="$(find ur16e_moveit_config)"
               if="$(arg ur16e_pkg)"/>
      <arg name="moveit_pkg" value="$(find ur10e_moveit_config)"
               if="$(arg ur10e_pkg)"/>
      <arg name="moveit_pkg" value="$(find ur10_moveit_config)"
               if="$(arg ur10_pkg)"/>
      <arg name="moveit_pkg" value="$(find ur5e_moveit_config)"
               if="$(arg ur5e_pkg)"/>
      <arg name="moveit_pkg" value="$(find ur5_moveit_config)"
               if="$(arg ur5_pkg)"/>
      <arg name="moveit_pkg" value="$(find ur3e_moveit_config)"
               if="$(arg ur3e_pkg)"/>
      <arg name="moveit_pkg" value="$(find ur3_moveit_config)"
               if="$(arg ur3_pkg)"/>
      <arg name="moveit_pkg" value="$(arg robotpkg_name)"
               if="$(arg custom_pkg)"/>
               
  <!-- GDB Debug Option -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix"
           value="gdb -x $(arg robotpkg_name)_moveit_config)/launch/gdb_settings.gdb --ex run --args" />

  <!-- Verbose Mode Option -->
  <arg name="info" default="$(arg debug)" />
  <arg unless="$(arg info)" name="command_args" value="" />
  <arg     if="$(arg info)" name="command_args" value="--debug" />

  <!-- move_group settings -->
  <arg name="pipeline" default="ompl" />
  <arg name="allow_trajectory_execution" default="true"/>
  <arg name="fake_execution" default="false"/>
  <arg name="max_safe_path_cost" default="1"/>
  <arg name="jiggle_fraction" default="0.05" />
  <arg name="publish_monitored_planning_scene" default="true"/>

  <!-- Capabilities args -->
  <arg name="capabilities" default=""/>
  <arg name="disable_capabilities" default=""/>

  <!-- Planning Functionality -->
  <include ns="move_group" file="$(arg moveit_pkg)/launch/planning_pipeline.launch.xml">
    <arg name="pipeline" value="$(arg pipeline)" />
  </include>

  <!-- Trajectory Execution Functionality -->
  <include ns="move_group" file="$(arg moveit_pkg)/launch/trajectory_execution.launch.xml" if="$(arg allow_trajectory_execution)">
    <arg name="moveit_manage_controllers" value="true" />
    <arg name="moveit_controller_manager" value="$(arg robotpkg_name)" unless="$(arg fake_execution)"/>
    <arg name="moveit_controller_manager" value="fake"                 if="$(arg fake_execution)"/>
  </include>

  <!-- Sensors Functionality -->
  <arg name="sensor_manager" default="true"/>
  <group if="$(arg sensor_manager)">
    <include ns="move_group" file="$(arg moveit_pkg)/launch/sensor_manager.launch.xml" if="$(arg allow_trajectory_execution)">
      <arg name="moveit_sensor_manager" value="$(arg robotpkg_name)" />
    </include>
  </group>

  <!-- Start the actual move_group node/action server -->
  <node name="move_group" launch-prefix="$(arg launch_prefix)" pkg="moveit_ros_move_group" type="move_group" respawn="false" output="screen" args="$(arg command_args)">
    <!-- Set the display variable, in case OpenGL code is used internally -->
    <env name="DISPLAY" value="$(optenv DISPLAY :0)" />

    <param name="allow_trajectory_execution" value="$(arg allow_trajectory_execution)"/>
    <param name="max_safe_path_cost" value="$(arg max_safe_path_cost)"/>
    <param name="jiggle_fraction" value="$(arg jiggle_fraction)" />
    <param name="capabilities" value="$(arg capabilities)"/>
    <param name="disable_capabilities" value="$(arg disable_capabilities)"/>


    <!-- Publish the planning scene of the physical robot so that rviz plugin can know actual robot -->
    <param name="planning_scene_monitor/publish_planning_scene" value="$(arg publish_monitored_planning_scene)" />
    <param name="planning_scene_monitor/publish_geometry_updates" value="$(arg publish_monitored_planning_scene)" />
    <param name="planning_scene_monitor/publish_state_updates" value="$(arg publish_monitored_planning_scene)" />
    <param name="planning_scene_monitor/publish_transforms_updates" value="$(arg publish_monitored_planning_scene)" />
  </node>

</launch>
