<launch>
  <!-- Decide if you want to see or not on rviz -->
  <arg name="rviz" default="true" />

  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />

  <arg name="sim" default="true" />

  <arg name="use_gui" default="false" />

  <!-- Set execution mode for fake execution controllers -->
  <arg name="execution_type" default="interpolate" />

  <arg name="pipeline" default="ompl" />

  <!-- By default, we will load or override the robot_description -->
  <arg name="load_robot_description" default="true"/>

  <!-- If true you launch the trajectory converter node.
  This node sends a true value on the topic /trajectory_executed when the trajectory is completed, also in simulation.-->
  <arg name="control" default ="false" />
  
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" unless="$(arg use_gui)">
    <rosparam param="source_list">[move_group/fake_controller_joint_states]</rosparam>
  </node>
  <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" if="$(arg use_gui)">
    <rosparam param="source_list">[move_group/fake_controller_joint_states]</rosparam>
  </node>

  <!-- Given the published joint states, publish tf for the robot links -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

  <!-- Run the main MoveIt! executable without trajectory execution (we do not have controllers configured by default) -->
  <include file="$(find niryo_moveit_config_w_gripper1_andrea)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="true"/>
    <arg name="execution_type" value="$(arg execution_type)"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="pipeline" value="$(arg pipeline)"/>
    <arg name="load_robot_description" value="$(arg load_robot_description)"/>
  </include>

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find niryo_moveit_config_w_gripper1_andrea)/launch/moveit_rviz.launch" if="$(arg rviz)">
    <arg name="rviz_config" value="$(find niryo_moveit_config_w_gripper1_andrea)/launch/moveit.rviz"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>
  
  <arg name="planning_plugin" value="ompl_interface/OMPLPlanner" />
  <arg name="planning_adapters" value="industrial_trajectory_filters/UniformSampleFilter default_planner_request_adapters/AddTimeOptimalParameterization default_planner_request_adapters/FixWorkspaceBounds default_planner_request_adapters/FixStartStateBounds default_planner_request_adapters/FixStartStateCollision default_planner_request_adapters/FixStartStatePathConstraints" />

  <node name="manipulator_planner" pkg="manipulator_planner" type="manipulator_planner" output="screen">
    <param name="planning_plugin" value="$(arg planning_plugin)" />
    <param name="request_adapters" value="$(arg planning_adapters)" />
    <param name="sample_duration" value="0.01"/>
    <param name="sim" value="$(arg sim)"/>
    <rosparam command="load" file="$(find niryo_moveit_config_w_gripper1_andrea)/config/ompl_planning.yaml"/>
    <rosparam command="load" file="$(find manipulator_planner)/config/niryo.yaml" />
  </node>  
  <node if="$(arg control)" name="ur10_trajectory_converter" pkg="ur10_trajectory_converter" type="ur10_trajectory_converter" />
  
</launch>