<launch>

  <!-- Get robot name and its package (they may differ as the 
       former can includes grippers and camera)-->
    <arg name="robot_name"    default="ur10e" />
    <arg name="robotpkg_name" default="$(arg robot_name)" />

    <!-- List of all available manipulators -->
      <arg name="ur30_pkg"    default="false"/>
      <arg name="ur20_pkg"    default="false"/>
      <arg name="ur16e_pkg"   default="false"/>
      <arg name="ur10e_pkg"   default="false"/>
      <arg name="ur10_pkg"    default="false"/>
      <arg name="ur5e_pkg"    default="false"/>
      <arg name="ur5_pkg"     default="false"/>
      <arg name="ur3e_pkg"    default="false"/>
      <arg name="ur3_pkg"     default="false"/>
      <arg name="custom_pkg"  default="false"/>
    <!-- End of the list -->

    <!-- Custom srdf and xacro files if needed -->
      <arg name="xacro_file"  default=""/>
      <arg name="srdf_file"   default=""/>

    <!-- Get moveit config package of the corresponding robot -->
      <arg name="moveit_pkg" value="$(find ur30_moveit_config)"
               if="$(arg ur30_pkg)"/>
      <arg name="moveit_pkg" value="$(find ur20_moveit_config)"
               if="$(arg ur20_pkg)"/>
      <arg name="moveit_pkg" value="$(find ur16e_moveit_config)"
               if="$(arg ur16e_pkg)"/>
      <arg name="moveit_pkg" value="$(find ur10e_moveit_config)"
               if="$(arg ur10e_pkg)"/>
      <arg name="moveit_pkg" value="$(find ur10_moveit_config)"
               if="$(arg ur10_pkg)"/>
      <arg name="moveit_pkg" value="$(find ur5e_moveit_config)"
               if="$(arg ur5e_pkg)"/>
      <arg name="moveit_pkg" value="$(find ur5_moveit_config)"
               if="$(arg ur5_pkg)"/>
      <arg name="moveit_pkg" value="$(find ur3e_moveit_config)"
               if="$(arg ur3e_pkg)"/>
      <arg name="moveit_pkg" value="$(find ur3_moveit_config)"
               if="$(arg ur3_pkg)"/>
      <arg name="moveit_pkg" value="$(arg robotpkg_name)"
               if="$(arg custom_pkg)"/>

  <!-- Set the following to false to load custom robot description -->
    <arg name="default_desc"  default="true"/>

  <!-- The name of the parameter under which the URDF is loaded -->
    <arg name="robot_description" default="robot_description"/>

  <!-- Args for starting camera position -->
    <arg name="camera"        default="false"  />
    <arg name="cam_x_offset"  default="+0.0"/>
    <arg name="cam_y_offset"  default="+0.00"/>
    <arg name="cam_z_offset"  default="+0.00"/>
    <arg name="cam_rx"        default="+0.0"/>
    <arg name="cam_ry"        default="+0.0"/>
    <arg name="cam_rz"        default="+0.0"/>
    <arg name="cam_parent"    default="tool0"/>
    <arg name="tcp_offset"    default="0.0"/>

  <!-- Args for starting end effector position -->
    <arg name="ee"            default="false"/>
    <arg name="ee_z_offset"   default="+0.0"/>
    <arg name="ee_rz"         default="+0.0"/>
    <arg name="ee_parent"     default="tool0"/>
  
  <!-- Load default universal robot description format (URDF) -->
  <param  if="$(arg default_desc)" 
          name="$(arg robot_description)"
          command="xacro  '$(find ur_description)/urdf/$(arg robotpkg_name).xacro'">
  </param>
  <!-- Load custom URDF -->
  <group unless="$(arg custom_pkg)">
    <param  unless="$(arg default_desc)" 
            name="$(arg robot_description)"
            command="xacro 
                    '$(find manipulators)/models/urdf/$(arg robot_name).xacro'
                          camera:=$(arg camera)
                    cam_x_offset:=$(arg cam_x_offset)
                    cam_y_offset:=$(arg cam_y_offset)
                    cam_z_offset:=$(arg cam_z_offset)
                          cam_rx:=$(arg cam_rx)
                          cam_ry:=$(arg cam_ry)
                          cam_rz:=$(arg cam_rz)
                      cam_parent:=$(arg cam_parent)
                              ee:=$(arg ee)
                     ee_z_offset:=$(arg ee_z_offset)
                           ee_rz:=$(arg ee_rz)
                       ee_parent:=$(arg ee_parent)
                      tcp_offset:=$(arg tcp_offset)">
    </param>
  </group>
  <group if="$(arg custom_pkg)">
    <param  unless="$(arg default_desc)" 
            name="$(arg robot_description)"
            command="xacro $(arg xacro_file)">
    </param>
  </group>
  
  <!-- The semantic description (SRDF) that corresponds to the URDF, default or custom -->
  <param  if="$(arg default_desc)" 
          name="$(arg robot_description)_semantic" 
          textfile="$(arg moveit_pkg)/config/$(arg robotpkg_name).srdf">
  </param>
  <group unless="$(arg custom_pkg)">
    <param  unless="$(arg default_desc)"
            name="$(arg robot_description)_semantic"
            textfile="$(find manipulators)/models/srdf/$(arg robot_name).srdf">
    </param>
  </group>
    <group if="$(arg custom_pkg)">
    <param  unless="$(arg default_desc)"
            name="$(arg robot_description)_semantic"
            textfile="$(arg srdf_file)">
    </param>
  </group>
  
  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(arg moveit_pkg)/config/joint_limits.yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(arg moveit_pkg)/config/kinematics.yaml"/>
  </group>

</launch>
