<launch>

  <!-- Get robot name and its package (they may differ as the 
       former can includes grippers and camera)-->
    <arg name="robot_name"          default="" />
    <arg name="robotpkg_name"       default="$(arg robot_name)" />
    <arg name="planning_group_file" default="$(find manipulators)/config/$(arg robot_name).yaml"/>

    <!-- List of all available manipulators -->
      <arg name="ur20_pkg"    default="false"/>
      <arg name="ur16e_pkg"   default="false"/>
      <arg name="ur10e_pkg"   default="false"/>
      <arg name="ur10_pkg"    default="false"/>
      <arg name="ur5e_pkg"    default="false"/>
      <arg name="ur5_pkg"     default="false"/>
      <arg name="ur3e_pkg"    default="false"/>
      <arg name="ur3_pkg"     default="false"/>
      <arg name="custom_pkg"  default="false"/>
    <!-- End of the list -->

    <!-- Get moveit config package of the corresponding robot -->
      <arg name="moveit_pkg" value="$(find ur20_moveit_config)"
               if="$(arg ur20_pkg)"/>
      <arg name="moveit_pkg" value="$(find ur16e_moveit_config)"
               if="$(arg ur16e_pkg)"/>
      <arg name="moveit_pkg" value="$(find ur10e_moveit_config)"
               if="$(arg ur10e_pkg)"/>
      <arg name="moveit_pkg" value="$(find ur10_moveit_config)"
               if="$(arg ur10_pkg)"/>
      <arg name="moveit_pkg" value="$(find ur5e_moveit_config)"
               if="$(arg ur5e_pkg)"/>
      <arg name="moveit_pkg" value="$(find ur5_moveit_config)"
               if="$(arg ur5_pkg)"/>
      <arg name="moveit_pkg" value="$(find ur3e_moveit_config)"
               if="$(arg ur3e_pkg)"/>
      <arg name="moveit_pkg" value="$(find ur3_moveit_config)"
               if="$(arg ur3_pkg)"/>
      <arg name="moveit_pkg" value="$(arg robotpkg_name)"
               if="$(arg custom_pkg)"/>
  
    <!-- Custom srdf and xacro files if needed -->
      <arg name="xacro_file"  default=""/>
      <arg name="srdf_file"   default=""/>

  <!-- Decide if you want to launch the robot default description config; 
       set to false to load custom description config of the manipulators pkg-->
  <arg name="default_desc"  default="true"  />
  <!-- Decide if you want to launch rviz -->
  <arg name="rviz"          default="true"  />
  <!-- Decide if you want to launch the robot default rviz config; 
       set to false to load custom rviz config of the manipulators pkg-->
  <arg name="def_config"     default="true" />
  <arg name="sensor_manager" default="true" />
  <!-- By default, we are not in debug mode and we want to sim -->
  <arg name="debug"         default="false" />
  <arg name="sim"           default="true"  />
  <arg name="rate"          default="10"    />
  <!-- Args for starting camera position -->
  <arg name="camera"        default="false" />
  <arg name="cam_x_offset"  default="+0.0"  />
  <arg name="cam_y_offset"  default="+0.0"  />
  <arg name="cam_z_offset"  default="+0.0"  />
  <arg name="cam_rx"        default="+0.0"  />
  <arg name="cam_ry"        default="+0.0"  />
  <arg name="cam_rz"        default="+0.0"  />
  <arg name="cam_parent"    default="tool0" />
  <!-- Args for starting end effector position -->
  <arg name="ee"            default="false"/>
  <arg name="ee_z_offset"   default="+0.0"  />
  <arg name="ee_rz"         default="+0.0"  />
  <arg name="ee_parent"     default="tool0" />
  <arg name="tcp_offset"    default="+0.0"  />
  <arg name="pub_js_state"  default="false" />
  <!-- If true, launch the trajectory converter node -->
  <arg name="real_control"  default ="false"/>

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find manipulators)/launch/planning_context.launch">
    <arg name="custom_pkg"    value="$(arg custom_pkg)"/>
    <arg name="robot_name"    value="$(arg robot_name)"/>
    <arg name="robotpkg_name" value="$(arg robotpkg_name)"/>
    <arg name="ur20_pkg"      value="$(arg ur20_pkg)"/>
    <arg name="ur16e_pkg"     value="$(arg ur16e_pkg)"/>
    <arg name="ur10e_pkg"     value="$(arg ur10e_pkg)"/>
    <arg name="ur10_pkg"      value="$(arg ur10_pkg)"/>
    <arg name="ur5e_pkg"      value="$(arg ur5e_pkg)"/>
    <arg name="ur5_pkg"       value="$(arg ur5_pkg)"/>
    <arg name="ur3e_pkg"      value="$(arg ur3e_pkg)"/>
    <arg name="ur3_pkg"       value="$(arg ur3_pkg)"/>
    <arg name="default_desc"  value="$(arg default_desc)"/>
    <arg name="xacro_file"    value="$(arg xacro_file)"/>
    <arg name="srdf_file"     value="$(arg srdf_file)"/>
    <arg name="camera"        value="$(arg camera)"  />
    <arg name="cam_x_offset"  value="$(arg cam_x_offset)"/>
    <arg name="cam_y_offset"  value="$(arg cam_y_offset)"/>
    <arg name="cam_z_offset"  value="$(arg cam_z_offset)"/>
    <arg name="cam_rx"        value="$(arg cam_rx)"/>
    <arg name="cam_ry"        value="$(arg cam_ry)"/>
    <arg name="cam_rz"        value="$(arg cam_rz)"/>
    <arg name="cam_parent"    value="$(arg cam_parent)"/>
    <arg name="ee"            value="$(arg ee)"  />
    <arg name="ee_parent"     value="$(arg ee_parent)"/>
    <arg name="ee_z_offset"   value="$(arg ee_z_offset)"/>
    <arg name="ee_rz"         value="$(arg ee_rz)"/>
    <arg name="tcp_offset"    value="$(arg tcp_offset)"/>
  </include>

  <!-- If needed, broadcast static tf for robot root -->
  <!-- We do not have a robot connected, so publish fake joint states -->
  <node if="$(arg pub_js_state)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/> 
    <param name="/rate"    value="$(arg rate)"/> 
    <rosparam param="/source_list">[/move_group/fake_controller_joint_states]</rosparam>
  </node>

  <!-- Given the published joint states, publish tf for the robot links -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

  <!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
  <include file="$(find manipulators)/launch/move_group.launch">
    <arg name="custom_pkg"    value="$(arg custom_pkg)"/>
    <arg name="robotpkg_name" value="$(arg robotpkg_name)" />
    <arg name="ur20_pkg"      value="$(arg ur20_pkg)"/>
    <arg name="ur16e_pkg"     value="$(arg ur16e_pkg)"/>
    <arg name="ur10e_pkg"     value="$(arg ur10e_pkg)"/>
    <arg name="ur10_pkg"      value="$(arg ur10_pkg)"/>
    <arg name="ur5e_pkg"      value="$(arg ur5e_pkg)"/>
    <arg name="ur5_pkg"       value="$(arg ur5_pkg)"/>
    <arg name="ur3e_pkg"      value="$(arg ur3e_pkg)"/>
    <arg name="ur3_pkg"       value="$(arg ur3_pkg)"/>

    <arg name="allow_trajectory_execution" value="true"/>  
    <arg name="fake_execution" value="true"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>

    <arg name="sensor_manager" value="$(arg sensor_manager)"/>
  </include>

  <!-- Run Rviz and load the default config to see the state of the move_group node THE ARG IS CALLED config, NOT rviz_config-->
  <group if="$(arg rviz)">
  <include file="$(find manipulators)/launch/moveit_rviz.launch">
    <arg                            name="debug"  value="$(arg debug)"/>
    <arg     if="$(arg def_config)" name="config" value="$(find manipulators)/launch/moveit.rviz"/>
    <arg unless="$(arg def_config)" name="config" value="$(find manipulators)/rviz/$(arg robot_name).rviz"/>
  </include>
  </group>
  
  <!-- Planner setup -->
  <arg name="planning_plugin" value="ompl_interface/OMPLPlanner" />
  <arg name="sample_duration" default="0.1" />
  <!-- Adapters: uniform sample filter and optimal parametrization -->
  <arg name="planning_adapters" value="industrial_trajectory_filters/UniformSampleFilter default_planner_request_adapters/AddTimeOptimalParameterization default_planner_request_adapters/FixWorkspaceBounds default_planner_request_adapters/FixStartStateBounds default_planner_request_adapters/FixStartStateCollision default_planner_request_adapters/FixStartStatePathConstraints" />
  <node name="manipulator_planner" pkg="manipulators" type="manipulator_planner" output="screen">
    <param name="planning_plugin" value="$(arg planning_plugin)" />
    <param name="request_adapters" value="$(arg planning_adapters)" />
    <param name="sample_duration" value="$(arg sample_duration)"/>
    <!-- This file contains the parameters configuration for each available 6-dof planner for the robot-->
    <rosparam command="load" file="$(arg moveit_pkg)/config/ompl_planning.yaml"/>
    <!-- This file contains the definition of the planning group params -->
    <rosparam unless="$(arg custom_pkg)" command="load" file="$(arg planning_group_file)" />
    <rosparam     if="$(arg custom_pkg)" command="load" file="$(arg moveit_pkg)/config/$(arg robot_name).yaml" />
  </node>

  <!-- For real robot -->
  <node if="$(arg real_control)" name="ur10_trajectory_converter" pkg="ur10_trajectory_converter" type="ur10_trajectory_converter" /> 
  
</launch>